<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>FoodHub</title>
      <!-- CSS Scripts -->
      <link rel="stylesheet" href="css/range.css">
      <link rel="stylesheet" href="semantic/dist/semantic.min.css">
	    <link rel="stylesheet" href="css/FoodHub.css">

      <!-- Script for AutoComplete -->
      <script script type="text/javascript" src="js/AutoComplete.js"></script>

  </head>

  <body>

    <!-- Mobile Panel Dropdown ----------------------------------------------------------------------->
    <div id=sidebarUI class="ui fixed borderless secondary  menu">
      <a class="active item">
        <i class="align justify icon"></i>
      </a>

              <div class="right floated left aligned six wide column" id="Buttons">
                <a href="/Logout">
                  <button class="ui active button">

                      <i class="sign out alternate icon"></i>
                      Sign Out
                    </button>
                        </a>
                      <!-- User Icon Possible Delete-->

                  <a href="/addReview">
                    <button class="ui inverted blue button">Write a review
                      </button>
                  </a>

                <!-- </div> -->

              </div>
    </div>
    <!-- End Mobile Panel Dropdown ------------------------------------------------------------------->

    <!-- Mobile Functionality Panel ------------------------------------------------------------------>
    <div id="sidebar" class="ui sidebar top mobile only">
      <div class="ui segment">
        <div class="ui form" action="SelectMenu" method="get">

          <!-- Location -->
          <center><h1>Location</h1></center>
          <h5>Your Location</h5>
          <input type="text" id="mobileLocation" name="Location" placeholder="Location">

          <!-- Distance -->
          <h5>Distance</h5>
          <div class="ui segment">
            <div class="slidecontainer">
              <input type="range" min="1" max="8047" value="50" id="distanceOptionMobile" class="slider">
            </div>
          </div>

          <center><div id="separator"></div></center>

          <div class="ui segment">
            <center><h1>Filters</h1></center>
            <!-- Cuisine -->
            <h5>Cuisine</h5>
              <select class="ui dropdown" id="cuisineOptionMobile">
                <option value="0">Any</option>
                <option value="1">Japanese</option>
                <option value="2">American</option>
                <option value="3">Chinese</option>
                <option value="4">Thai</option>
                <option value="5">Greek</option>
                <option value="6">Indian</option>
                <option value="7">Italian</option>
                <option value="8">Mexican</option>
              </select>

              <div class="ui form" id="price-range">
                <!-- Price Range -->
                <h5>Price Range</h5>
                <div class="inline fields">
                  <div class="field">
                    <div class="ui radio checkbox">
                      <input type="radio" name="priceOptionMobile" checked="checked" value="1">
                      <label>Low</label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui radio checkbox">
                      <input type="radio" name="priceOptionMobile" value="2">
                      <label>Medium</label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui radio checkbox">
                      <input type="radio" name="priceOptionMobile" value="3">
                      <label>High</label>
                    </div>
                  </div>
                </div>
              </div>
          </div>

          <button class="ui blue button" id="subButtonMobile">Submit</button>

        </div>
      </div>
    </div>
    <!-- End Mobile Functionality Panel ------------------------------------------------------------>

    <div class="pusher">
      <div class="ui padded grid">

        <!-- Header Content ------------------------------------------------------------------------>
        <div id="header">
          <!-- Logo -->
          <div id="logo">
            <img src= "Pictures/Logo.png" id="SiteLogo"/>
          </div>

          <div class="right floated left aligned six wide column" id=LogoutButton>

        <!-- <div class="right floated left aligned six wide column" id="Buttons"> -->
          <a href="/Logout">
            <button class="ui active button">

                <i class="sign out alternate icon"></i>
                Sign Out
              </button>
                  </a> -->
                <!-- User Icon Possible Delete-->

             <a href="/addReview">
              <button class="ui inverted blue button">Write a review
                </button>
            </a>

         </div>

        </div>

        <!-- End Header Content ---------------------------------------------------------------------->

    <!-- Desktop Functionality Panel ----------------------------------------------------------------->
    <div id="sidebar" class="four wide computer column computer only">
      <div class="ui segment">
        <div class="ui form" action="SelectMenu" method="get">
          <center><h1>Location</h1></center>
          <!-- Location -->
          <h5>Your Location</h5>
            <div id="filterOption">
              <input type="text" id="mainLocation" name="Location" placeholder="Location" tabindex="1">
            </div>

          <!-- Distance -->
          <h5>Distance</h5>
            <div class="ui segment">
              <div class="slidecontainer">
                <input type="range" min="1" max="8047" value="50" id="distanceOption" class="slider" tabindex="2">
              </div>
            </div>

          <center><div id="separator"></div></center>

          <div class="ui segment">
            <center><h1>Filters</h1></center>
            <!-- Cuisine -->
            <h5>Cuisine</h5>
              <select class="ui dropdown" id="cuisineOption" tabindex="3">
                <option value="0">Any</option>
                <option value="1">Japanese</option>
                <option value="2">American</option>
                <option value="3">Chinese</option>
                <option value="4">Thai</option>
                <option value="5">Greek</option>
                <option value="6">Indian</option>
                <option value="7">Italian</option>
                <option value="8">Mexican</option>
              </select>

          <div class="ui form" id="price-range">
            <!-- Price Range -->
            <h5>Price Range</h5>
              <div class="inline fields">
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="priceOption" checked="checked" value="1" tabindex="4">
                    <label>Low</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="priceOption" value="2" tabindex="5">
                    <label>Medium</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="priceOption" value="3" tabindex="6">
                    <label>High</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <button class="ui blue button" id="subButton" tabindex="7">Submit</button>

        </div>
      </div>

    </div>
    <!-- End Desktop Functionality Panel ------------------------------------------------------------->

    <!-- Main Content -------------------------------------------------------------------------------->
    <div id="content" class="twelve wide computer sixteen wide mobile column">
      <div id="map"></div>

      <div id="reviews">
        <table class="ui padded compact single line table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Review Date</th>
              <th>Restaurant</th>
              <th>Location</th>
              <th>Review</th>
              <th>Rating</th>
            </tr>
          </thead>
          <tbody>
            <% review.forEach(function(review){ %>
            <tr>
              <td><%= review.name %></td>
              <td><%= review.date %></td>
              <td><%= review.restaurant %></td>
              <td><%= review.city %></td>
              <td><%= review.review %></td>
              <td><%= review.rating %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>

      </div>
    </div>
    </div>
    <!-- End Main Content ---------------------------------------------------------------------------->

    <!-- Footer Content ------------------------------------------------------------------------------>
      <div id="footer">
        <a href="FoodHub-T&C" id="terms">Terms</a>
      </div>
    </div>
    <!-- End Footer Content -------------------------------------------------------------------------->

    <!-- JS Scripts -->
    <script src="js/konami.js"></script>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/range.js"></script>
    <script type="text/javascript" src="js/GoogleMap.js"></script>
    <script type="text/javascript" src="semantic/dist/semantic.min.js"></script>
    <script type="text/javascript" src="js/FoodhubFunctionality.js"></script>

    <!-- Script for Google AutoComplete and Map issue with separate scripts for api so combined however not doing the autocomplete -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKmr5cGY2-bu4wHPpMSxsvrpH5XM6-Cps&libraries=places&callback=callFunctions" async defer></script>

  </body>
</html>
